# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# virtualenv
.venv/
env/
ENV/

# pytest / coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# local test DB
test.db

# IDEs
.vscode/
.idea/